<html>
<title>
Gym Membership - Index
</title>
<body onload="refocus()">
Check Member ID<br>
<form action="/index" method="POST" name="idform">
	<input type="text" name="id" id="in" onkeyup="autosend()" maxlength=3>
	<input type="submit" value="Submit">
</form>
{%if d == "member_ok" %}
<iframe src="/memberfine" width="500" height="500" align="right" onload="refocus()" frameborder="0" style="position:absolute;Left:300;top:0"> </iframe>
{% else %}
	{%if d == "not_found" %}
		<iframe src="/memberinvalid" width="500" height="500" align="right" onload="refocus()" frameborder="0" style="position:absolute;Left:300;top:0"> </iframe>
	{% endif %}
{% endif %}
</body>
</html>

<script>
function refocus()
{
document.getElementById("in").focus();
}


function autosend(){
	if ((document.getElementById("in").value).length == 3){
	    document.forms['idform'].submit();
    }
}
</script>